__pycache__
venv
pdf_parsing_service.py
config.py
bge_model_ctranslate2
pictures
tables
text
pdf
logs
FC_test.ipynb
parsing_test.ipynb
query_test.ipynb
data
PDF_test_1
parsed
technique_test.ipynb
data/data/chroma.sqlite3